{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Zdalny Browar</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Historia piwowarstwa domowego w Kamionkach sięga 2020 roku. To tutaj warzone jest piwo z procesem zacierania!
            </p>
            <p class="lead mb-4">
                Pobierz aplikację na swój telefon i bądź na bieżąco z piwkiem ;)
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="https://play.google.com/store/apps/details?id=pl.com.kazmierski.brewery" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">
                    Pobierz aplikację na Android z Google Play
                </a>
            </div>
        </div>
    </div>
{% endblock %}


